@model List<Person>

<h1>List of Person</h1>

<table class="table table-bordered table-striped">
    <tr>
        <th>Id</th>
        <th>FullName</th>
        <th>Email</th>
        <th>Command</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.PersonId</td>
            <td>@item.FirstName @item.LastName</td>
            <td>@item.Email</td>
            <td>
                <a asp-controller="People" asp-action="Update" asp-route-Id="@item.PersonId">Update</a>
                |
                <a asp-controller="People" asp-action="Delete" asp-route-Id="@item.PersonId">Delete</a>
            </td>

        </tr>
    }
</table>